//primary colours
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

//neutral

$Very_Dark_Blue: hsl(234, 12%, 34%);
$Grayish_Blue: hsl(229, 6%, 66%);
$Very_Light_Gray: hsl(0, 0%, 98%);

// Typography

// Body Copy
// Font size: 15px
// Weights: 200, 400, 600

*{
    font-family: Poppins; //imported font from google fonts
    // font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    //no need to set width as browser adds on to it, creating a horizontal scroll bar
    // width: 100vw;
    padding: 0rem 1rem;
    background-color: $Very_Light_Gray;
}

.desc{
    // display: flex;
    // flex-direction: column;
    text-align: center;
    // justify-content: center;
    // align-items: center;
    .light{
        font-weight: 200;
        padding-top: 5rem;
    }
    .dark{
        font-weight: 600;
    }
    .text{
        color: $Grayish_Blue;
        padding-top: 1rem;
        // the best I could come up with to limit the size of the text
        margin-bottom: 5rem;
    }
}

main{
    .content{
        display: grid;
        grid-template-columns: repeat(1, 1fr); //set to repeat once with one fractional column each
        gap: 1.5rem;
    }

    .content .card{
        background-color: white;
        box-shadow: 0px 10px 16px hsl(180, 62%, 55%, 0.15);
        padding: 1.5rem;
        border-radius: 0.5rem;
    }

    .content .card:first-child{
        border-top: 0.5rem solid $cyan; //we make the width equal to border-radius (top)
        //to prevent the top border from curving at the edges
    }
    //targets the second child 
    .content .card:nth-child(2){
        border-top: 0.5rem solid $red; 
    }

    .content .card:nth-child(3){
        border-top: 0.5rem solid $orange; 
    }

    .content .card:last-child{
        border-top: 0.5rem solid $blue; 
    }

    .content .card h2{
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    .content .card p{
        margin-bottom: 3rem;
    }

    .content .card img{
           display: block;
           margin-left: auto;
    }

}


//desktop view
@media (min-width: 768px){
    main .text{
        max-width: 500px; //pushes the paragraph to the left
        margin: auto; //this centres the paragraph
    }

    main .content{
        max-width: 1400px;
        display: flex;
        margin: auto; //this centres all the cards horizontally
        flex-wrap: wrap; 
        align-items: center;
        justify-content: center;
    }

    main .content .card{
        // flex: 1; //ensures that each card take up the same width
        width: 400px;
    }

    // main .content .card:first-child, main .content .card:last-child
    main .content .card:nth-child(odd){
        transform: translateY(50%);
    }
    main .content:last-child{
        padding-bottom: 5rem;
    }
}
